In [32]:
from google.colab import files
files.upload()

{}

In [0]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_excel('Book1.xlsx')
df.head()

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62                 41245.0
1               2           3  ...         388.92                 41701.0
2               3          37  ...         248.82                 36361.0
3               4          88  ...         381.10                 36145.0
4               5          78  ...         709.48                 42226.0

[5 rows x 13 columns]

In [35]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [36]:
df['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [0]:
df['online_order']=df['online_order'].fillna(method='ffill')

In [38]:
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [0]:
df['brand']=df['brand'].fillna(method='ffill')

In [40]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [0]:
df['product_line']=df['product_line'].fillna(method='bfill')

In [42]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [0]:
df['product_class']=df['product_class'].fillna(method='bfill')

In [44]:
df['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [0]:
df['product_size']=df['product_size'].fillna(method='ffill')

In [46]:
df['standard_cost'].mean()

556.0469512209421

In [0]:
df['standard_cost']=df['standard_cost'].fillna(df['standard_cost'].mean())

In [48]:
df['product_first_sold_date'].mean()

38199.77654900773

In [0]:
df['product_first_sold_date']=df['product_first_sold_date'].fillna(df['product_first_sold_date'].mean())

In [50]:
final=pd.DataFrame({
    'transaction_id':df['transaction_id'],
    'product_id':df['product_id'],
    'customer_id':df['customer_id'],
    'transaction_date':df['transaction_date'],
    'online_order':df['online_order'],
    'order_status':df['order_status'],
    'brand':df['brand'],
    'product_line':df['product_line'],
    'product_class':df['product_class'],
    'product_size':df['product_size'],
    'list_price':df['list_price'],
    'standard_cost':df['standard_cost'],
    'product_first_sold_date':df['product_first_sold_date']
})
final.to_csv('./transactionfinal.csv',index=False)
print(final.head(10))

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62                 41245.0
1               2           3  ...         388.92                 41701.0
2               3          37  ...         248.82                 36361.0
3               4          88  ...         381.10                 36145.0
4               5          78  ...         709.48                 42226.0
5               6          25  ...         829.65                 39031.0
6               7          22  ...          45.26                 34165.0
7               8          15  ...          13.44                 39915.0
8               9          67  ...         380.74                 33455.0
9              10          12  ...         161.60                 38216.0

[10 rows x 13 columns]

In [0]:
from google.colab import files
files.download('transactionfinal.csv')